extends layouts/layout-index-nav

block content
  .container
    .table-responsive
      table.table.table-striped.table-hover
        tr
          th #
          th Name
        tr
          td 1
          td 2
        tr
          td 3
          td 4





  +dd
  +dd


mixin dd()
  .col-xs-6.
    1
  .col-xs-6.
    2