extends layout-index1

block content
  //- div.container-fluid

  include ../public/blocks/nav.html
  include ../public/pages/index.html


  //- <script src="https://cdnjs.cloudflare.com/ajax/libs/gojs/1.7.18/go.js"></script>  
  //- script.
  //-   console.log(data)

  
