extends layouts/layout-index-nav

block content
  div.container
    h1= title
    hr
    
    //- img(src="/img.jpg", alt="")

    .alert.alert-info dima
    script.
      console.log(data);


//- mixins
mixin list
  ul 
    each v in ['one', 'two', 'three']
      li=v


  //- table   

  .panel.panel-default
    .panel-heading Head
    .panel-body Body
    .panel-footer Footer
